
<form action="" method="post">

    <input type="text" placeholder="username" name="username">
<input type="text" placeholder="password" name="password">
<input type="text" placeholder="cpassword" name="cpassword">
<button >submit</button>
</form>